<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Tracker App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>Welcome to the Game Tracker app!</h1>
    <img
    class="game-pic1"
    src="https://t4.ftcdn.net/jpg/04/42/21/53/360_F_442215355_AjiR6ogucq3vPzjFAAEfwbPXYGqYVAap.jpg"
    alt="Bright neon sign saying 'Play games have fun' and a Ninetendo Switch pro controller"
    />
    <p>Track all the games you might have or are interested.</p>
    <a class="games-index-link" href="/games">Browse Games</a>
</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>